*{
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin: 0;
}

body{
    height: 100%;
    background-color: pink;
}


.container__car{
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
   
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.products{
    width: 75%;
    
    padding: 1.2rem;
    display: flex;
    gap: .4rem;
    align-items: center;
   
    background-color: rgb(231, 227, 227);
}

.product__img{
    width: 60px;
    height: 60px;
    
}

.cards__products{
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    display: flex;
}
.buttons_finalizar{
    width: 60%;
    display: flex;
     
    justify-content: center;
    background-color: red;
}
.buttons_finalizar button{
    width: 100%;
    font-size: 1.2rem;
    background-color: rgb(233, 60, 88);
    color: white;
    padding: 1.2rem;

}

@media screen and (max-width:450px){
   
}

.input_card{
    background-color: rgb(213, 197, 197);
    height: 40px;
    text-align: center;
    padding: 5px;
    border: 2px solid white;
    width: 3rem;
}

.prece__product{
  
    font-size: .9rem;
    background-color: white;

}



.valor_prdut{
    
   border: 1px solid black;
   
   
}
.btn_remove{
   
    background-color: black;
    color: white;
    
}
.items{
    width: 5.1rem;
    height: 2rem;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.voltar_home{
    padding: 1rem;
   
    width: 100%;
}

.voltar_home a{
    font-size: 2rem;
    cursor: pointer;
    color: rgb(110, 37, 49);
    text-decoration: none;
}