*{
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin: 0;
}

body{
    height:100vh;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container__car{
    width: 100vw;
   
  
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   height: auto;
   
}

.products{
    width: 100%;
    position: relative;
    padding: 1.2rem;
    justify-content: space-around;
    display: flex;
    gap: .6rem;
    align-items: center;
    border-radius: 1.3rem;
    background-color: rgb(231, 227, 227);
}

.product__img{
    width: 90px;
    height: 60px;
    
}

.cards__products{
    width: 20rem;
    
    height: 30rem;
    border-radius: 5px;
  
    flex-direction: column;
    gap: 1.2rem;
    padding: 1rem;
    overflow: scroll;
    align-items: center;
    display: flex;
}





.input_card{
    background-color: rgb(213, 197, 197);
    text-align: center;
    border: 2px solid rgb(208, 20, 164);
    
}


.voltar_home{
    padding: 1rem;
    background-color: rgb(211, 155, 164);
    
    max-width: 1220px;
    width: 70%;
}

.voltar_home a{
    font-size: 2rem;
    cursor: pointer;
    color: rgb(110, 37, 49);
    text-decoration: none;
}

.products__items input{
    width: 5rem;

}

.product__items--deletar{
    position: absolute;
    right: 1.15rem;
    top: 1rem;
}

.products__container--total{
    display: flex;
    flex-direction: column;
}

.products_quanti{
    display: flex;
    align-items: center;
    gap: 1.2rem;

}

.products__quanti--minus, .products__quanti--plus{
    width: 2rem;
    border-radius: 5px;
    text-align: center;
    padding: .3rem;
    background-color: rgb(255, 100, 100);
    display: block;
    font-size: 1rem;
    cursor: pointer;
}

.btn_delet{
    cursor: pointer;
}